%p#notice= notice

%p
  - if current_user.is_admin?
    %b User:
    = @order.user.email
%p
  %b Item:
  = @order.item.name
%p
  %b Quantity:
  = @order.quantity

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
