= simple_form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:

      %ul
      - @item.errors.full_messages.each do |msg|
        %li= msg

  .inputs

    = f.input :name

    = f.input :description

    = f.input :image

    = f.input :price


  .actions
    = f.button :submit
