%h1 Listing items

%ul
  - @items.each do |item|
    = link_to item do
      %li.item
        .image=image_tag item.image_url(:thumb) if item.image?
        .name= item.name
        .price Rs.#{item.price}
        .actions
          = link_to 'Edit', edit_item_path(item)
          = link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
.clear

= link_to 'New Item', new_item_path
