%h1 Listing items

%ul
  - @items.each do |item|
    = link_to item do
      %li.item
        .image=image_tag item.image_url(:thumb) if item.image?
        .name= item.name
        .price &#8377; #{item.price}
        .actions
          = button_to 'Edit', edit_item_path(item), :method => :get
          = button_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
.clear

= button_to 'New Item', new_item_path, :method => :get
