%p#notice= notice

%h1#name= @item.name
%h2#price Rs.#{@item.price}
= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path

#image= image_tag @item.image_url if @item.image?
#description= @item.description
