!!!
%html
  %head
    %title Protsahan: Encouragement Store
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %header
      %ul.user
        - if current_user
          %li= current_user.email
          %li= link_to "Logout", session_path(:signout), :method => :delete
        - else
          %li= link_to "Register", new_user_path
          %li= link_to "Login", new_session_path
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = yield

