!!!
%html
  %head
    %title Protsahan: Encouragement Store
    =raw hoptoad_javascript_notifier
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body.bp
    %header.highlight
      %nav.user
        %ul
          - if signed_in?
            %li= current_user.email
            %li= link_to "Logout", sign_out_path, :method => :delete
          - else
            %li= link_to "Register", sign_up_path
            %li= link_to "Login", sign_in_path
      %hgroup.title
        %h1= link_to "Protsahan: Encouragement Store", root_path
      %hgroup.page_header
        =yield :header
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    %aside.highlight
      =yield :aside
    #main.highlight
      = yield
    %footer.highlight
      =yield :footer

